<!DOCTYPE HTML>
<html>
  <head>
    <title>{{ page.title }} - Patrick Davey</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Titillium+Web" rel="stylesheet">
    <link href="/css/style.css?bust={{ site.time | date: '%s' }}" rel="stylesheet" media="screen">
    <link href="/css/mobile.css?bust={{ site.time | date: '%s' }}" rel="stylesheet" media="screen">
    <link href="/css/highlight.css?bust={{ site.time | date: '%s' }}" rel="stylesheet" media="screen">

  <body>
    <header>
      <h1><a href='/'>Todayish I learned</a></h1>
      <a href='/about-me'>About me</a>
    </header>

    <div id='page'>
      <h2>{{ title }}</h2>
      {{ content }}
    </div>
  </body>
</html>
