<!DOCTYPE HTML>
<html>
  <head>
    <title>{{ page.title }} - Patrick Davey</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Titillium+Web" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.css' media='screen'>
    <link rel='stylesheet' href='/css/mobile.css'>
    <link rel='stylesheet' href='/css/prism.css'>
    <script src='/js/prism.js'></script>

  <body>
    <header>
      <h1><a href='/'>Todayish I learned</a></h1>
      <a href='/about-me'>About me</a>
    </header>

    <div id='page'>
      <h2>{{ title }}</h2>
      {{ content }}
    </div>
  </body>
</html>
