<!DOCTYPE HTML>
<html>
  <head>
    <title>Patrick Davey - {{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Titillium+Web" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.css' media='screen'>
    <link rel='stylesheet' href='/css/mobile.css'>
    <link rel='stylesheet' href='/css/highlight.css'>

  <body>
    <h1 align='center'><a href='http://til.psdavey.com'>Todayish I learned</a></h1>
    <div id='post'>
      <article>
        <a href="{{ page.url }}"><h2>{{ page.title }}</h2></a>
        <small>{{ page.date | date_to_string }}</small><br>
        {{ content }}
      </article>
    </div>
  </body>
</html>
